<% content_for :title, "Nueva Inscripción" %>

<section class="section">
  <div class="container">
    <!-- Título de la página -->
    <h1 class="title is-3">Nueva Inscripción</h1>

    <!-- Formulario -->
    <div class="box">
      <%= render "form", enrollment: @enrollment %>
    </div>

    <!-- Botón de navegación -->
    <div class="buttons mt-5">
      <%= link_to "Volver a Inscripciones", enrollments_path, class: "button is-light" %>
    </div>
  </div>
</section>

